html { 
  background: url(../images/Fractal_Lion_Stars.jpg) no-repeat center center fixed; 
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}

body{
  font-family: 'Montserrat', Arial;
  font-size: 1em;
}
