[Desktop Entry]
Version=1.0
Type=Application
Name=PML30-Caja
Comment=Perfumeria Marlen L30 Sistema de Caja para Sucursales
Exec=INSTALL_PATH/run.sh
Icon=INSTALL_PATH/L30_64x64_Ver2.png
Path=INSTALL_PATH/
Terminal=false
StartupNotify=false
GenericName=PML30-Caja